/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage
package-lock.json
package.json
phpunit.xml
server.php
webpack.mix.js
composer.json
composer.lock
/config
/bootstrap
/tests
.editorconfig
.env.example
.styleci.yml
README.md
artisan
.gitattributes